.order-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

} 

.actionName {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.image-items {
    width: 95%;
}

.order-form label{
    font-size: 10px;
}
.order-form input{
    font-size: 11px;
}
button:hover{
    cursor: pointer;
}
.order-item{
    margin: 20px 0;
    background-color: #ecf0f1;
    border: 3px solid #2c3e50;
}
.order__content{
    display: flex;
    justify-content: space-between;
}